* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'rubik-dirt';
    src: url(../../resources/Rubik_Dirt/RubikDirt-Regular.ttf)
}
@font-face {
    font-family: rubik;
    src: url(../../resources/Rubik/Rubik-Italic-VariableFont_wght.ttf)
}
@font-face {
    font-family: playwrite;
    src: url(../../resources/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf)
}
h1 {
    font-size: 45px;
    font-family: 'playwrite';
    text-decoration: underline;
    color: white;
}
h2 {
    color: white;
    font-family: rubik;
}
h3 {
    color: white;
    font-family: rubik;
    margin: 10px;
}
h4 {
    color:rgb(255, 136, 0);
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    font-family: rubik;
}
h5 {
    padding: 1em;
    text-decoration: None;
    font-size: 15px;
    font-family: rubik;
    color: rgb(255, 136, 0);
}

body {
    background-color: black;
}
header {
    width: 80%;
    margin: 5% 10%;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 3em;
    background-color: rgba(34, 34, 34, 0.486);
    position: sticky;
    top: 0;
}
main {
    margin: 3em 0;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;

}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300em;
}
footer {
    background-color: rgb(34, 34, 34);
    aspect-ratio: 7 / 1;
}
input {
    padding: .3em;
    border: rgb(255, 136, 0) 3px solid;
    border-radius: 7px;
    width: 50%;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: rgb(255, 136, 0) 3px solid;
    width: fit-content;
    height: auto;
    margin: 2em;
}
.ctrl-panel-header-span{
    text-decoration: underline;
    margin: auto;
}
.ctrl-panel-header{
    text-decoration: underline;
    margin: auto;
}
/* .ctrl-panel-span {
    margin: .5em;
} */
.timeframe {
    overflow: scroll;
    padding: .3em;
    width: 50%;
}
.applyChart {
    width: 60%;
    margin: 3em auto;
}
.warning-label {
    border: rgb(214, 43, 0) 3px solid;
    height: 20%;
    aspect-ratio: 1.4;
    text-align: center;
    margin: 1em;
    padding: 1.5em;
}
.warnings {
    color: rgb(255, 136, 0);
    list-style-type: disc;
}

li::marker {
  color: rgb(214, 43, 0);
  font-size: 1.2em;
}

.chart {
    border: rgb(255, 136, 0) 3px solid;
}